

/* New UI Designs - 
Added By :  Kesavan*/

.newmainheadtxt4{ font-family: Verdana, Arial;  font-size: 12px;  font-style: normal;  text-transform: none;  color: #FFF;  font-weight: bold;  text-decoration: none; }
.product{ font-family: Arial;  font-size: 18px;  font-style: normal;  text-transform: none;  color: #EEF;  font-weight: bold;  text-decoration: none; padding:30px 0px 0px 72px }
